<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>In Out Delivery</title>
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
<form action="/register" method="post">
    <div class="form-container">
        <div class="personal-information">
            <h1>Registro exitoso</h1>
            <p>Su tarjeta de credito ha sido registrado en nuestros sistemas via Tpaga.co</p>
        </div> <!-- end of personal-information -->
        <div class="important-message">
            <p>Por favor continua la interaccíon con nuestro Bot</p>
        </div>
    </div>
</form>
<script type="text/javascript">
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.8&appId=351144745234713";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.com/en_US/messenger.Extensions.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'Messenger'));

    window.close();
</script>
</body>
</html>