<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>In Out Delivery</title>
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
<form action="/register" method="post">
    <div class="form-container">
        <div class="personal-information">
            <h1>Registro exitoso</h1>
            <p>Su tarjeta de credito ha sido registrado en nuestros sistemas via Tpaga.co</p>
        </div> <!-- end of personal-information -->
        <div class="important-message">
            <p>Por favor continua la interaccíon con nuestro Bot</p>
        </div>
    </div>
</form>
<script type="text/javascript">
    setTimeout(function close(){
        window.close();
    }, 3000);
</script>
</body>
</html>